= form_for @consultation do |f|
  - if @consultation.errors.any?
    #error_explanation
      %p
        Исправте следующие ошибки перед отправкой:
      %ul
        - @consultation.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    = f.label :name, "Имя*"
    = f.text_field :name, autofocus: true, type: 'text', placeholder: "Ваше имя"

  %fieldset
    = f.label :phone, "Телефон*"
    = f.phone_field :phone, autofocus: true, type: 'text', placeholder: "xxx-xxx-xx-xx"

  %fieldset
    = f.label :email, "Email*"
    = f.email_field :email, autofocus: true, type: 'text', placeholder: "Email"

  %fieldset
    = f.label :service_category_id, "Услуга*"
    = collection_select :consultation, :service_category_id, ServiceCategory.all, :id, :name, {}, { :multiple => false }

  = f.label :description, "Вопрос*"
  = f.text_area :description, type: 'text', placeholder: "Ваш вопрос"

  .actions
    = f.submit "Отправить", class: "blue-button submit"