<section class="content-section about">
  <div class="section-wrapper">
    <h2 class="section-heading">
      Кабинет пользователя
    </h2>
    <p>Здравствуйте
    <%= current_user.name %>
    </p>
    <div class="left-column">
      <p class="paragraph">
        Кабинет разбит на два блока - список докторов онлайн, у которых можно получить консультацию и история сообшений с докторами.
      </p>
    </div>
    <div class="right-column">
      <p class="paragraph">
        Если у Вас есть вопросы напишите нам, наши администраторы с радостью на них ответят
      </p>
      <%= link_to letters_path, class: "blue-button" do %>
        Задать вопрос
        <span class="icon right-icon"></span>
      <% end %>
    </div>
  </div>
</section>
<section class="content-section who-we-are active" id="who-we-are">
  <div class="section-wrapper">
    <h2 class="section-heading white">
      Доктора онлайн
    </h2>
    <%- @users.each do |user| %>
      <dl class="accordion bio">
        <dt class="accordion-name show">
          <a class="name">
            <%= user.name %>
          </a>
          <span class="standfirst">
            <%= user.position %>
          </span>
          <span class="standfirst">
            Медифаст
            <%= user.clinic.address %>
          </span>
          <div class="icon-wrapper">
            <span class="icon-open"></span>
            <span class="icon-close"></span>
          </div>
          <span class="status-open show">
            открыть
          </span>
          <span class="status-close show">
            закрыть
          </span>
        </dt>
        <dd class="bio-body open" style="height:365px;">
          <div class="accordion-content">
            <%= image_tag "#{user.image_url}", class: "accordion-image" %>
            <p class="paragraph">
              <%= user.description.html_safe %>
              <br>
              <br>
              <%= link_to "#", class: "blue-button btn-xs start-conversation", "data-sid" => current_user.id, "data-rip" => user.id do %>
                Отправить сообщение
                <span class="icon right-icon">
              <% end %>

              <%= link_to records_path, class: "red-button" do %>
                Запись на прием
                <span class="icon right-icon">
              <% end %>
            </p>
          </div>
        </dd>
      </dl>
    <% end %>
  </div>
</section>
<section class="content-section newsfeed active" id="personal">
  <div id="newsfeedBody" class="section-wrapper">
    <h2 class="section-heading white">
      История сообщений
    </h2>
    <%- if @conversations.any? %>
      <%- @conversations.each do |conversation| %>
        <article class="newsfeed-article news-end-events" style="width:20%">
          <%= link_to conversation_path(conversation), class: "conversation", "data-cid" => conversation.id do %>
            <% if current_user.role == 'doctor' %>
              <%= image_tag "creative-image.png", class: "newsfeed-image", style: "background: #179c8c;" %>
            <% else %>
              <%= image_tag "#{conversation.recipient.image_url}", style: "width:221px;" %>
            <% end %>
          <% end %>
          <div class="container">
            <%= link_to conversation_path(conversation), class: "conversation newsfeed-link", "data-cid" => conversation.id do %>
              <h2 class="sub-heading">
                <%= conversation_interlocutor(conversation).name %>
              </h2>
            <% end %>
            <p class="paragraph">
              <span style="color:#179c8c;">
                <%= conversation.messages.last.nil? ? "No date" : truncate(l conversation.messages.last.created_at, format: :long) %>
              </span>
              <br></br>
              <%= conversation.messages.last.nil? ? "No messages" : truncate(conversation.messages.last.body, length: 45) %>
            </p>
            <%= link_to conversation_path(conversation), class: "conversation blue-button btn-xs", "data-cid" => conversation.id do %>
              <span class="case-studies-icon.black"></span>
              Открыть чат
            <% end %>

          </div>
        </article>
      <% end %>
    <% else %>
      <p>Вы еще не написали не одного сообщения. Выберите доктора и задайте вопрос.</p>
    <% end %>
  </div>
  <div class="col-md-4">

  </div>
</section>

<%- content_for :scripts do %>
  <script>
    About.init();
  </script>
<% end %>