%section.content-section.article
  .section-wrapper
    = link_to news_path, class: "back-link" do
      %span.icon
      Все новости
    .left-section
      %aside.article-aside
        = image_tag "#{@post.image_url}", class: "aside-content"
    .right-section
      %article.article-template
        %h2.section-heading
          = @post.name
        .page
          .layoutArea
            .column
            %p
              = @post.description
            %p
= render "layouts/record"