%section.main-content-section.share-decisions
  .section-wrapper
    - @clinics_show.each do |clinic|
      %article.triple-column
        %i.fa.fa-phone-square.fa-2x
        %h3.sub-heading.contacts
          = clinic.city.name
        %p
          = clinic.contacts.html_safe
%section.content-section.article
  .section-wrapper
    = link_to news_path, class: "back-link" do
      %span.icon
      Все новости
    .left-section
      %aside.article-aside
        = image_tag "#{@post.image_url}", class: "aside-content"
    .right-section
      %article.article-template
        %h2.section-heading
          = @post.name
        .page
          .layoutArea
            .column
            %p
              = @post.description.html_safe
            %p
= render "layouts/record"