- meta :title => "medifast.com.ua Клиника Медифаст. Новости специалистов клиники. Стационар, поликлинические услуги, лаборатория, Узи.", :description => "medifast.com.ua Новости специалистов клиники Медифаст. В клинике принимают врачи Педиатр, Уролог, Терапевт – кардиолог, Аллерголог, Дерматолог, Невролог, Хирург, Эндокринолог, ЛОР, Гастроэнтеролог, Ортопед-травматолог, Иммунолог, Гинеколог, Дневной стационар, УЗИ диагностика, Лаборатория, Услуга вызов врача на дом, Семейный врач"
= render "layouts/clinic_phone"
= render "news/slide"
= render "news/nav"
%section.content-section.newsfeed.active#newsfeed
  #newsfeedBody.section-wrapper
    - @posts.each do |post|
      %article.newsfeed-article.news-end-events
        = link_to show_news_path(post[:slug]), class: "newsfeed-link" do
          = image_tag "#{post.image_url}", class: "newsfeed-image"
        .container
          = link_to show_news_path(post[:slug]), class: "newsfeed-link" do
            %h2.sub-heading
              = post.name
          %p.paragraph
            = post.title.html_safe
          = link_to show_news_path(post[:slug]), class: "newsfeed-link" do
            %span.case-studies-icon.black
            Узнайте больше

- content_for :scripts do
  :javascript
    Newsfeed.init();