.nav-wrap.sub-nav#sub-nav-wrapper
  %nav.nav#sub-nav
    %a(class="link" href="#command")
      Команда профессионалов
    %a(class="link" href="#who-we-are")
      Ведущие специалисты
    %a(class="link" href="#meet-our-partners")
      Вопрос специалистам
    %a(class="link" href="#priem")
      Запись на прием
%button.back-to-top.back-to-top-bind#back-to-top
%article.header-content#carousel
  %article.carousel.home-carousel
    .carouselBody
      %ul
        %li.team
          .carousel-slide
            .section-wrapper
              %h1.header-intro
                Команда Медифаст
              %p.header-standfirst
                Победим болезнь вместе
  %a.main-cta#stickyNavPoint
    Узнайте больше
    %span.right-icon
%section.content-section.about#command
  .section-wrapper
    %h2.section-heading
      Команда профессионалов
    .left-column
      %p.paragraph
        В клинике работают специалисты  высшей категории, прошедшие обучение в ведущих клиниках Украины, России, Германии, США
      %p.paragraph
        Персонал клиники Медифаст - это не только высококлассные профессионалы, фанатично преданные своему делу, но и чуткие отзывчивые люди
    .right-column
      %p.paragraph
        Мы ценим доверия наших пациентов, поэтому взяв на себя ответственность за Ваше здоровье, в полной мере обеспечиваем рациональность лечения и гарантию качества
%section.content-section.who-we-are.active#who-we-are
  .section-wrapper
    %h2.section-heading.white
      Ведущие специалисты
    - @personals.each do |personal|
      %dl.accordion.bio
        %dt.accordion-name
          %a.name
            = personal.name
          %span.standfirst
            = personal.position
          %span.standfirst
            Медифаст
            = personal.clinic.address
          .icon-wrapper
            %span.icon-open
            %span.icon-close
          %span.status-open
            открыть
          %span.status-close
            закрыть
        %dd.bio-body
          .accordion-content
            = image_tag "#{personal.image_url}", class: "accordion-image"
            %p.paragraph
              = personal.description.html_safe
              %br
              %br
              = link_to root_path, class: "blue-button" do
                Задать вопрос
                %span.icon.right-icon
              \|
              = link_to records_path, class: "red-button" do
                Запись на прием
                %span.icon.right-icon
= render "layouts/consultation"
= render "layouts/record"

- content_for :scripts do
  :javascript
    About.init();