- @clinics.each do |clinic|
  %dl.accordion.bio
    %dt.accordion-name
      %a.name
        = clinic.city.name
      %span.standfirst
        = clinic.address
      .icon-wrapper
        %span.icon-open
        %span.icon-close
      %span.status-open
        открыть
      %span.status-close
        закрыть
    %dd.bio-body
      .accordion-content
        Как к нам доехать:
        %br
        = clinic.description.html_safe
        %br
        = link_to "Посмотреть на карте", contacts_clinic_path(@city[:slug], clinic[:slug]), class: "link login"
        %p.paragraph
          Контакты:
          %br
          = clinic.contacts.html_safe
          %br
          = link_to "support@medifast.com", letters_path