%section.content-section.newsfeed-filter
  .section-wrapper
    %nav.filter-nav
      = link_to contacts_path, class: "filter-link all #{active_class(contacts_path)}" do
        Все отделения
      - @citys.each do |city|
        = link_to contacts_city_path(city[:slug]), class: "filter-link all #{active_class(contacts_city_path(city[:slug]))}" do
          = city.name

