%script{src: "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", type: "text/javascript"}
%script{src: "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", type: "text/javascript"}
.nav-wrap.sub-nav#sub-nav-wrapper
  %nav.nav#sub-nav
    %a(class="link" href="#contacts")
      Отделения клиники
    %a(class="link" href="#meet-our-partners")
      Вопрос специалистам
%section.main.content-section.map
  %div(style='width: 100%;')
    #map(style='width: 100%; height: 400px;')
= render "contacts/nav"
%section.content-section.who-we-are.active#who-we-are
  .section-wrapper
    %h2.section-heading
      Контакты отделений медифаст
    - @clinics.each do |clinic|
      %dl.accordion.bio
        %dt.accordion-name
          %a.name
            = clinic.city.name
          %span.standfirst
            = clinic.address
          .icon-wrapper
            %span.icon-open
            %span.icon-close
          %span.status-open
            открыть
          %span.status-close
            закрыть
        %dd.bio-body
          .accordion-content
            %nav.filter-nav
              Услуги клиники:
              - clinic.service_categories.each do |service_category|
                = link_to procedure_category_path(service_category[:slug]), class: "filter-link all" do
                  = service_category.name
            %br
            Как к нам доехать:
            %br
            = clinic.description.html_safe
            %br
            = link_to "Посмотреть на карте", contacts_clinic_path(clinic.city[:slug], clinic[:slug]), class: "link login"
            %p.paragraph
              Контакты:
              %br
              = clinic.contacts.html_safe
              %br
              = link_to "medifastklinik@gmail.com", letters_path, class: "link login"

= render "layouts/consultation"
= render "layouts/record"

- content_for :scripts do
  :javascript
    About.init();
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(#{raw @hash.to_json});
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
