- meta :title => "medifast.com.ua Клиника Медифаст. Адреса и телефоны клиники. Стационар, поликлинические услуги, лаборатория, Узи.", :description => "medifast.com.ua Адреса и телефоны клиники Медифаст. В клинике принимают врачи Педиатр, Уролог, Терапевт – кардиолог, Аллерголог, Дерматолог, Невролог, Хирург, Эндокринолог, ЛОР, Гастроэнтеролог, Ортопед-травматолог, Иммунолог, Гинеколог, Дневной стационар, УЗИ диагностика, Лаборатория, Услуга вызов врача на дом, Семейный врач"
.nav-wrap.sub-nav#sub-nav-wrapper
  %nav.nav#sub-nav
    %a(class="link" href="#contacts")
      Отделения клиники
    %a(class="link" href="#meet-our-partners")
      Вопрос специалистам
%section.main.content-section.map
  %div(style='width: 100%;')
    #map(style='width: 100%; height: 400px;')
= render "contacts/nav"
%section.content-section.who-we-are.active#who-we-are
  .section-wrapper
    %h2.section-heading.white
      Контакты отделений медифаст
      = @city.name
    = render "contacts/form"

= render "layouts/consultation"
= render "layouts/record"

- content_for :scripts do
  :javascript
    About.init();
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(#{raw @hash.to_json});

      handler.bounds.extendWith(markers);
      if (markers.length > 1) {
        handler.fitMapToBounds();
      } else {
        handler.fitMapToBounds();
        handler.getMap().setZoom(16);
      }
    });
