.nav-wrap.sub-nav#sub-nav-wrapper
  %nav.nav#sub-nav
    %a(class="link" href="#slogan")
      Девиз клиники
    %a(class="link" href="#our-history")
      Наша история
    %a(class="link" href="#command")
      Наша команда
    %a(class="link" href="#meet-our-partners")
      Вопрос специалистам
%button.back-to-top.back-to-top-bind#back-to-top
%article.header-content#carousel
  %article.carousel.home-carousel
    .carouselBody
      %ul
        %li.clinic
          .overlay
          .carousel-slide(style="z-index: 10; position: absolute;")
            .section-wrapper
              %h1.header-intro.white
                Клиника медифаст
              %p.header-standfirst
                Победим болезнь вместе
  %a.main-cta#stickyNavPoint
    Узнайте больше
    %span.right-icon
%section.content-section.about
  .section-wrapper
    %h2.section-heading
      О клиникe
    .left-column
      %p.paragraph
        В течении 10 лет врачи нашей клиники изо дня в день своими действиями доказывают, что медицинская помощь должна быть качественной, доступной и комфортной. Для нас работа – это призвание, в которое мы вкладываем душу. Мы постоянно и интенсивно развиваемся, сегодня клиника одна из лучших частных клиник высшей категории в нашем регионе, представляющая широкий спектр качественных медицинских услуг и имеющая разрешение на оформление больничных листов.
      %p.paragraph
        За время работы клиники нашими пациентами стали десятки тысяч человек, которым наши специалисты спасли жизнь, вернули здоровье и хорошее настроение. В клинике есть своя аккредитованная и сертифицированная лаборатория, выполняющая клинические, биохимические, иммунологические обследования.
    .right-column
      %p.paragraph
        Клиника оснащена современным диагностическим и лечебным оборудованием. Для пациентов созданы условия комфортабельного пребывания и лечения. В клинике имеется современный операционный блок на две операционные, оснащенные современным оборудованием. Специалисты клиники прошли обучение в ведущих клиниках Украины и за рубежом, являются действительными членами международных ассоциаций хирургов - лапароскопистов.
      %p.paragraph
        В клинике Медифаст работают врачи высшей и первой категории, имеющие большой практический и теоретический уровень подготовки. У нас работает поликлиническое отделение, полноценный стационар и несколько отделений.
        Постоянно ведут прием врачи всех специальностей.
%section.content-section.welcome.active#slogan
  .section-wrapper
    %h1.section-heading
      Использование в практике современного медицинского оборудования для всех видов лапароскопических и эндоскопических  операций и диагностических исследований, большой опыт работы, постоянное усовершенствование уровня специалистов, профессинональный подход и назначение индивидуальных схем лечения – принципы, лежащие в основе деятельности клиники Медифаст
%section.content-section.our-history.active#our-history
  .section-wrapper
    %h2.section-heading
      Наша история
    .controls-wrapper
      %nav.slider-controls
        %span.previous-button.disabled
        %span.next-button
      .history-slider
        .history-wrapper
          .slider-section
            .top-half
              %h3.sub-heading
                Открытие клиники
              = image_tag "medifast_logo_slide.jpg"
              %span.date
                2005
              = image_tag "connector-start.jpg", class: "connector-image"
              %p.paragraph
                Медицинский центр  «МЕДИФАСТ» открыт 3 января 2005 года  по адресу ул.Волгодонская 18. Отделение лапароскопической хирургии и гинекологии и амбулаторное отделение
          .slider-section
            .top-half
              %h3.sub-heading
                Амбулаторное отделение
              = image_tag "medifast_building.jpg"
              %span.date
                2007
              = image_tag "connector-section.jpg", class: "connector-image"
              %p.paragraph
                В марте 2007г. открыто амбулаторное отделение по адресу: ул.Олимпийская,181.
          .slider-section
            .top-half
              %h3.sub-heading.double-line
                Выдача
                %br
                больничных листов
              = image_tag "medifast_sign.jpg"
              %span.date
                2008
              = image_tag "connector-section.jpg", class: "connector-image"
              %p.paragraph
                В августе 2008г. получено разрешение на выдачу документов, которые подтверждают временную нетрудоспособность граждан (больничные листы)
          .slider-section
            .top-half
              %h3.sub-heading
                Отделение в Бердянске
              = image_tag "medifast_building.jpg"
              %span.date
                2008
              = image_tag "connector-section.jpg", class: "connector-image"
              %p.paragraph
                В сентябре 2008 года открыто Бердянское отделение медицинского центра «Медифаст» по адресу: г.Бердянск, ул.Розы Люксембург, 49
          .slider-section
            .top-half
              %h3.sub-heading.double-line
                Рентгенэндоваскулярная
                %br
                хирургия
              = image_tag "medifast_medical_equipment.jpg"
              %span.date
                2008
              = image_tag "connector-section.jpg", class: "connector-image"
              %p.paragraph
                В специально оборудованной операционной установлен рентген аппарат фирмы Siemens, позволяющий проводить рентгеновскую съемку крупных и мелких сосудов. Применение этого аппарата позволяет точно и достоверно провести  диагностику ишемической болезни сердца, стенозирующих заболеваний сосудов (атеросклероз и др.), проводить малоинвазивное, т.е. малотравматичное, лечение этих заболеваний
          .slider-section
            .top-half
              %h3.sub-heading
                Кабинет УЗД
              = image_tag "medifast_medical_equipment.jpg"
              %span.date
                2012
              = image_tag "connector-section.jpg", class: "connector-image"
              %p.paragraph
                В апреле 2012г. открыт кабинет УЗД по адресу: ул. 50 лет СССР, 46
          .slider-section
            .top-half
              %h3.sub-heading
                Амбулаторное отделение
              = image_tag "medifast_building.jpg"
              %span.date
                2013
              = image_tag "connector-section.jpg", class: "connector-image"
              %p.paragraph
                В июне 2013г открыто амбулаторное отделение по адресу: пр.. Ленина, 42 Детское специализированное отделение (прием узких детских специалистов, выдача справок при поступлении в детский сад, школу, медосмотры). Ведется прием и взрослых пациентов
          .slider-section
            .top-half
              %h3.sub-heading
                Открытие аптеки
              = image_tag "medifast_pharmacy.jpg"
              %span.date
                2013
              = image_tag "connector-end.jpg", class: "connector-image"
              %p.paragraph
                В августе 2013г. открыта аптека по адресу: ул. Олимпийская, 181 и аптечный пункт по адресу: ул.Волгодонская 18.
        /
          .slider-section
            .top-half
              %h3.sub-heading.double-line
                Онкология и
                %br
                торакальная хирургия
              = image_tag "medifast_medical_equipment.jpg"
              %span.date
                2014
              = image_tag "connector-section.jpg", class: "connector-image"
              %p.paragraph
                Развитие направлений онкологии и торакальной хирургии в г.Мариуполь ул. Волгодонская 18.
          .slider-section
            .top-half
              %h3.sub-heading.double-line
                Отделение
                %br
                в Днепропетровске
              = image_tag "medifast_building.jpg"
              %span.date
                2015
              = image_tag "connector-end.jpg", class: "connector-image"
              %p.paragraph
                Открытие филиала в г.Днепропетровск отделения малоинвазивной рентгенваскулярной кардиохирургии, гинекологии и урологии по адресу ул. Бардина 1 (3 этаж, отделение кардиологии БСМП).
%section.content-section.about#command
  .section-wrapper
    %h2.section-heading
      Команда профессионалов
    .left-column
      %p.paragraph
        В клинике работают специалисты  высшей категории, прошедшие обучение в ведущих клиниках Украины, России, Германии, США
      %p.paragraph
        Персонал клиники Медифаст - это не только высококлассные профессионалы, фанатично преданные своему делу, но и чуткие отзывчивые люди
    .right-column
      %p.paragraph
        Мы ценим доверия наших пациентов, поэтому взяв на себя ответственность за Ваше здоровье, в полной мере обеспечиваем рациональность лечения и гарантию качества
      = link_to root_path, class: "blue-button" do
        Подробней
        %span.icon.right-icon
= render "layouts/consultation"

- content_for :scripts do
  :javascript
    About.init();

