- meta :title => "medifast.com.ua Клиника Медифаст. Часто задаваемые вопросы. Стационар, поликлинические услуги, лаборатория, Узи.", :description => "medifast.com.ua Часто задаваемые вопросы и ответы на них. В клинике принимают врачи Педиатр, Уролог, Терапевт – кардиолог, Аллерголог, Дерматолог, Невролог, Хирург, Эндокринолог, ЛОР, Гастроэнтеролог, Ортопед-травматолог, Иммунолог, Гинеколог, Дневной стационар, УЗИ диагностика, Лаборатория, Услуга вызов врача на дом, Семейный врач"
.nav-wrap.sub-nav#sub-nav-wrapper
  %nav.nav#sub-nav
    %a(class="link" href="#slogan")
      Вопрос/ответ
    %a(class="link" href="#meet-our-partners")
      Вопрос специалистам
    %a(class="link" href="#priem")
      Запись на прием
%button.back-to-top.back-to-top-bind#back-to-top
= render "layouts/clinic_phone"
%section.content-section.about
  .section-wrapper
    %h2.section-heading
      Часто задаваемые вопросы
    .left-column
      %p.paragraph
        Здесь представлены вопросы, которые наиболее часто задают наши пациенты
    .right-column
      %p.paragraph
        Если у Вас есть вопросы напишите нам, наши администраторы с радостью на них ответят
      = link_to letters_path, class: "blue-button" do
        Задать вопрос
        %span.icon.right-icon
%section.content-section.who-we-are.active#who-we-are
  .section-wrapper
    %h2.section-heading
      Вопрос / Ответ
    %dl.accordion.bio
      %dt.accordion-name
        %a.name
          Где вы находитесь?
        %span.standfirst
        .icon-wrapper
          %span.icon-open
          %span.icon-close
        %span.status-open
          открыть
        %span.status-close
          закрыть
      %dd.bio-body
        .accordion-content
          %p.paragraph
            Добрый день, мы находимся по адресу, улица Волгодонская, 18. В березовой аллее, напротив 4-ой городской больницы. Ориентир торговый центр АМСТОР. Список всех отделений клиники смотрите в разделе
            = link_to "Контакты", contacts_path, class: "link login"
            %br
            %br
            Если у Вас есть вопросы напишите нам, наши администраторы с радостью на них ответят
            %br
            %br
            = link_to root_path, class: "blue-button" do
              Задать вопрос
              %span.icon.right-icon
    %dl.accordion.bio
      %dt.accordion-name
        %a.name
          Есть ли у Вас в клинике хирург, и как он принимает?
        %span.standfirst
        .icon-wrapper
          %span.icon-open
          %span.icon-close
        %span.status-open
          открыть
        %span.status-close
          закрыть
      %dd.bio-body
        .accordion-content
          %p.paragraph
            Здравствуйте, да, в нашей клинике есть хирург. Он принимает ежедневно с понедельника по пятницу, с 9-00 до 11-00. В порядке живой очереди.
            %br
            %br
            Если у Вас есть вопросы напишите нам, наши администраторы с радостью на них ответят
            %br
            %br
            = link_to root_path, class: "blue-button" do
              Задать вопрос
              %span.icon.right-icon
    %dl.accordion.bio
      %dt.accordion-name
        %a.name
          Делают ли у Вас дробление камней в почках, мочеточниках и т.д.?
        %span.standfirst
        .icon-wrapper
          %span.icon-open
          %span.icon-close
        %span.status-open
          открыть
        %span.status-close
          закрыть
      %dd.bio-body
        .accordion-content
          %p.paragraph
            Добрый день, делаем. Более подробную информацию Вам может предоставить наш уролог – Кравченко Александр Николаевич. Позвоните к нам в клинику предметно и профессионально предоставят вам консультацию.
            %br
            %br
            Если у Вас есть вопросы напишите нам, наши администраторы с радостью на них ответят
            %br
            %br
            = link_to root_path, class: "blue-button" do
              Задать вопрос
              %span.icon.right-icon
    %dl.accordion.bio
      %dt.accordion-name
        %a.name
          Делают ли у Вас операции на желчном пузыре? И каким методом?
        %span.standfirst
        .icon-wrapper
          %span.icon-open
          %span.icon-close
        %span.status-open
          открыть
        %span.status-close
          закрыть
      %dd.bio-body
        .accordion-content
          %p.paragraph
            Да, в нашей клинике проводят такие операции. Называется она – лапараскопическое удаление желчного пузыря. Нахождение в стационаре от 3 до 5 дней.
            %br
            %br
            Если у Вас есть вопросы напишите нам, наши администраторы с радостью на них ответят
            %br
            %br
            = link_to root_path, class: "blue-button" do
              Задать вопрос
              %span.icon.right-icon
    %dl.accordion.bio
      %dt.accordion-name
        %a.name
          Есть ли у Вас гинеколог, и как он работает?
        %span.standfirst
        .icon-wrapper
          %span.icon-open
          %span.icon-close
        %span.status-open
          открыть
        %span.status-close
          закрыть
      %dd.bio-body
        .accordion-content
          %p.paragraph
            Здравствуйте, у нас есть несколько гинекологов, они принимают каждый день, включая субботу и воскресенье. Доктора у нас оперирующие. Есть гинеколог-эндокринолог, так же детский гинеколог.
            %br
            %br
            Если у Вас есть вопросы напишите нам, наши администраторы с радостью на них ответят
            %br
            %br
            = link_to root_path, class: "blue-button" do
              Задать вопрос
              %span.icon.right-icon
= render "layouts/consultation"
= render "layouts/record"
= render "layouts/clinic_phone_footer"

- content_for :scripts do
  :javascript
    About.init();
