- meta :title => "medifast.com.ua Клиника Медифаст. Стационар, поликлинические услуги, лаборатория, Узи, Вызов врача, Семейнай врач", :description => "medifast.com.ua принимают врачи Педиатр, Уролог, Терапевт – кардиолог, Аллерголог, Дерматолог, Невролог, Хирург, Эндокринолог, ЛОР, Гастроэнтеролог, Ортопед-травматолог, Иммунолог, Гинеколог, Дневной стационар, УЗИ диагностика, Лаборатория, Услуга вызов врача на дом, Семейный врач"
.nav-wrap.sub-nav#sub-nav-wrapper
  %nav.nav#sub-nav
    %a(class="link" href="#priem")
      Запись на прием
    %a(class="link" href="#sale" style="color: #E80000")
      Акция дня
    %a(class="link" href="#personal")
      Персонал
    %a(class="link" href="#product")
      Аптека
    %a(class="link" href="#contacts")
      Отделения клиники
    = link_to "Новости", news_path, class: "link"
      
%button.back-to-top.back-to-top-bind#back-to-top
= render "layouts/clinic_phone"
%article.header-content#carousel
  %article.carousel.home-carousel
    .carouselBody
      %ul
        - @service_category.each do |category|
          %li{:style => "background: url(#{image_path "#{category.image_url}"}); background-position: top center; -webkit-background-size: cover; -ms-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"}
            .carousel-slide(style="z-index: 10; position: absolute;")
              .section-wrapper
                %h1.header-intro.red
                  = category.name
                %p.header-standfirst.green(style="color: #10A770;")
                  Победим болезнь вместе
                = link_to procedure_category_path(category[:slug]), class: "red-button" do
                  Подробней
                  %span.icon.right-icon

  = link_to procedures_path, class: "main-cta", id: "stickyNavPoint" do
    Все услуги клиники
    %span.right-icon
%section.main.content-section.smarter-engagement#smarter-engagement
  .section-wrapper
    %h2.section-heading.white
      Новинки от Медифаст
    .carousel-container
      %article.carousel
        .carouselBody(style="height: 478px;")
          %ul
            - @breezes.each do |breeze|
              %li
                .carousel-slide
                  .left-section
                    = image_tag "#{breeze.image_url}", class: "carousel-image"
                  %article.carousel-content
                    %h4.sub-heading
                      = breeze.name
                    %p.paragraph
                      = breeze.description.html_safe
          %button.next
            %span.icon
            преведущий
          %button.next
            %span.icon
            следующий
%section.main.content-section.smarter-engagement.sale#sale
  .section-wrapper
    %h2.section-heading.white.sales
      Акции от Медифаст
    .carousel-container
      %article.carousel
        .carouselBody(style="height: 478px;")
          %ul
            - @sales.each do |sale|
              %li
                .carousel-slide
                  .left-section
                    = image_tag "#{sale.image_url}", class: "carousel-image"
                  %article.carousel-content
                    %h4.sub-heading
                      = sale.name
                    %p.paragraph.sales
                      = sale.description.html_safe
          %button.next
            %span.icon
            преведущий
          %button.next
            %span.icon
            следующий
= render "layouts/record"


%section.main.content-section.comments
  .section-wrapper
    %h2.section-heading.comments.green
      Отзывы пациентов
%section.main.content-section.feature.bold-quote
  .section-wrapper
    %span.quotation-icon.up
    %span.quotation-icon.down
    %article.carousel.newsfeed-carousel
      .carouselBody.partners-carousel.comments
        %ul
          - @reviews.each do |review|
            %li
              .carousel-slider
                %h2.section-heading
                  = review.description
                %span.citation
                  = review.name
%section.main.content-section.delivering-experience#personal
  .section-wrapper
    %article.right-column
      %h2.section-heading
        Квалификация персонала клиники
      %p
        «Победим болезнь вместе» - принцип работы клиники «Медифаст», заложенный с момента ее основания в 2005г.
        %br
        %br
        На базе нашего медицинского центра создан мощнейший в Приазовском регионе Центр оказания лечебной и диагностической помощи населению.
        %br
        %br
        Гордостью «Медифаста» являются наши специалисты, которые постоянно усовершенствуют свои профессиональные знания и навыки, участвуют в международных и всеукраинских симпозиумах и конференциях.
        %br
        %br
        Главным принципом работы нашего персонала является оказание высококвалифицированной, качественной и современной медицинской помощи 24 часа в сутки и 365 дней в году.
        %br
        %br
        Со времени основания клиники нашими докторами было выполнено более 15000 оперативных вмешательств с положительными результатами. Клиника обладает для этого современной материально- технической базой, придерживается современных стандартов лечения и предоставляет европейский сервис.
      = link_to doctors_path, class: "blue-button" do
        Подробней
        %span.icon.right-icon
    %article.left-column
      - @chief_doctors.each do |chief_doctor|
        = image_tag "#{chief_doctor.image}"
        %span.text-center.name
          %h2
            = chief_doctor.name
          %p
            = chief_doctor.position



%section.content-section.newsfeed.active#contacts
  #newsfeedBody.section-wrapper
    %h2.section-heading.white(style="text-align:center;")
      Отделения клиники
    - @cities.each do |city|
      %article.newsfeed-article.news-end-events
        = link_to contacts_city_path(city[:slug]) do
          = image_tag "#{city.image_url}", class: "newsfeed-image"
        .container.city_home
          = link_to contacts_city_path(city[:slug]), class: "newsfeed-link" do
            %h2.sub-heading(style="color:#179C8C;")
              = city.name
          %p.paragraph
            Запишитесь на прием в клинику города
            %br
            %br
            = link_to records_path, class: "red-button" do
              Запись на прием
              %span.icon.right-icon
            %br
            %br
            = link_to contacts_city_path(city[:slug]), class: "blue-button" do
              Отделения
              %span.icon.right-icon

%section.main.content-section.smarter-engagement#smarter-engagement
  .section-wrapper
    %h2.section-heading.white
      Новости Медифаст
    .carousel-container
      %article.carousel
        .carouselBody(style="height: 478px;")
          %ul
            - @posts_slide.each do |post|
              %li
                .carousel-slide
                  .left-section
                    = image_tag "#{post.image_url}", class: "carousel-image"
                  %article.carousel-content
                    %h4.sub-heading
                      = post.name
                    %p.paragraph
                      = post.title.html_safe
                    = link_to show_news_path(post[:slug]), class: "case-studies-link" do
                      Узнайте больше
                      %span.case-studies-icon.black
          %button.next
            %span.icon
            преведущий
          %button.next
            %span.icon
            следующий
    .all-link
      = link_to news_path, class: "case-studies-link" do
        Все новости
        %span.case-studies-icon.black

    %h3.sub-heading.white
      Наши партнеры
    .companies-container
      = image_tag "storz_medical.png", class: "logo samsung-logo"
      = image_tag "siemens.png", class: "logo samsung-logo"
      = image_tag "richard_wolf.png", class: "logo samsung-logo"
      = image_tag "toshiba.png", class: "logo samsung-logo"
      = image_tag "esaote.png", class: "logo samsung-logo"
      = image_tag "ethicon.png", class: "logo samsung-logo"

%section.main.content-section.view-case-studies
  .section-wrapper
    = link_to news_path, class: "case-studies-link" do
      Все новости
      %span.case-studies-icon
= render "layouts/clinic_phone_footer"
