- meta :title => "medifast.com.ua Клиника Медифаст. Результаты поиска. Стационар, поликлинические услуги, лаборатория, Узи.", :description => "medifast.com.ua результаты поиска на сайте. В клинике принимают врачи Педиатр, Уролог, Терапевт – кардиолог, Аллерголог, Дерматолог, Невролог, Хирург, Эндокринолог, ЛОР, Гастроэнтеролог, Ортопед-травматолог, Иммунолог, Гинеколог, Дневной стационар, УЗИ диагностика, Лаборатория, Услуга вызов врача на дом, Семейный врач"
%button.back-to-top.back-to-top-bind#back-to-top
= render "layouts/clinic_phone"
= render "layouts/record"
%section.content-section.newsfeed-filter
  .section-wrapper
    %nav.filter-nav#contact-form(style="margin: 10px 0 10px 0;")
      = form_tag search_path, method: :get do
        %fieldset
          = text_field_tag :query, params[:query], placeholder: "Что Вы ищите?", class: "red-field"
          = submit_tag "Поиск", name: nil, class: "red-button submit", style: "margin-top:5px;"

%section.content-section.newsfeed.active
  .section-wrapper
    - @pg_search_documents.each do |pg_search_document|
      %article.newsfeed-article.news-end-events.search
        - if pg_search_document.searchable.class == Doctor
          = link_to show_doctors_path([pg_search_document.searchable.slug]), class: "newsfeed-link" do
            = image_tag pg_search_document.searchable.image_url, class: "newsfeed-image"
          .container.search
            = link_to show_doctors_path([pg_search_document.searchable.slug]), class: "newsfeed-link" do
              %h2.sub-heading
                = pg_search_document.searchable.name
            %p.paragraph
              = pg_search_document.searchable.position
              %br
              = pg_search_document.searchable.clinic.address
            = link_to show_doctors_path([pg_search_document.searchable.slug]), class: "newsfeed-link" do
              %span.case-studies-icon.black
              Узнайте больше
        - elsif
          = link_to procedure_category_path([pg_search_document.searchable.slug]) do
            - if pg_search_document.searchable.class == ServiceCategory
              = image_tag pg_search_document.searchable.image_small_url, class: "newsfeed-image"
            - elsif pg_search_document.searchable.class == Service
              = image_tag pg_search_document.searchable.image_url, class: "newsfeed-image"
            .container.search_procedures
              = link_to procedure_category_path([pg_search_document.searchable.slug]), class: "newsfeed-link" do
                %h2.sub-heading.text-center.search
                  = pg_search_document.searchable.name




