- meta :title => "medifast.com.ua Клиника Медифаст. Вакансии клиники. Стационар, поликлинические услуги, лаборатория, Узи.", :description => "medifast.com.ua текущие вакансии клиники Медифаст. В клинике принимают врачи Педиатр, Уролог, Терапевт – кардиолог, Аллерголог, Дерматолог, Невролог, Хирург, Эндокринолог, ЛОР, Гастроэнтеролог, Ортопед-травматолог, Иммунолог, Гинеколог, Дневной стационар, УЗИ диагностика, Лаборатория, Услуга вызов врача на дом, Семейный врач"
%button.back-to-top.back-to-top-bind#back-to-top
= render "layouts/clinic_phone"
%section.content-section.about
  .section-wrapper
    %h2.section-heading
      Вакансии клиники медифаст
    .left-column
      %p.paragraph
        Актуальные вакансии клиники Медифаст с описанием требований и условий работы
    .right-column
      %p.paragraph
        Если у Вас есть вопросы напишите нам, наши администраторы с радостью на них ответят
      = link_to letters_path, class: "blue-button" do
        Задать вопрос
        %span.icon.right-icon
%section.content-section.who-we-are.active#who-we-are
  .section-wrapper
    %h2.section-heading
      Вакансии
    - @vacansies.each do |vacancy|
      %dl.accordion.bio
        %dt.accordion-name
          %a.name
            = vacancy.name
          %span.standfirst
          .icon-wrapper
            %span.icon-open
            %span.icon-close
          %span.status-open
            открыть
          %span.status-close
            закрыть
        %dd.bio-body
          .accordion-content
            %p.paragraph
              = vacancy.description.html_safe
              %br
              %br
              Если ваканси Вам подходить, Вы можите отправить нам Ваше резюме
              %br
              %br
              = link_to answers_path, class: "blue-button" do
                Отправить резюме
                %span.icon.right-icon

- content_for :scripts do
  :javascript
    About.init();