- meta :title => "medifast.com.ua Клиника Медифаст. Ввойти на сайт. Стационар, поликлинические услуги, лаборатория, Узи.", :description => "medifast.com.ua Войти на сайт клиники Медифаст. В клинике принимают врачи Педиатр, Уролог, Терапевт – кардиолог, Аллерголог, Дерматолог, Невролог, Хирург, Эндокринолог, ЛОР, Гастроэнтеролог, Ортопед-травматолог, Иммунолог, Гинеколог, Дневной стационар, УЗИ диагностика, Лаборатория, Услуга вызов врача на дом, Семейный врач"
.main-wrapper.blue
  %p.red
    = notice
  %p.red
    = alert
  %section.content-section.contact
    .section-wrapper
      .left-column
        %h1.section-heading
          Войти
        %h2.sub-heading
          Личный кабинет
        %p.paragraph
          После входа у Вас появится возможность в Вашем личном кабинете бесплатно консультироваться с врачами клиники Медифаст
      #contact-form.right-column

        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          %fieldset
            = f.label :email
            = f.email_field :email, autofocus: true, type: 'text', placeholder: "Email"

          %fieldset
            = f.label :password, "Пароль"
            = f.password_field :password, autocomplete: "off", type: 'password', placeholder: "Пароль"

          - if devise_mapping.rememberable?
            %fieldset
              = f.check_box :remember_me, type: "checkbox", class: "optout-check"
              = f.label :remember_me, "Запомнить меня", class: "optout-label"

          .actions
            = f.submit "Войти", class: "blue-button submit"

        = render "devise/shared/links"
