%section.content-section.newsfeed.active#newsfeed
  .section-wrapper
    %h2.section-heading.white
      Выберите отделения Медифаст
    %article.newsfeed-article
      .container.procedure{class: "#{active_class(doctors_path)}"}
        = link_to doctors_path, class: "newsfeed-link" do
          %h2.sub-heading
            Весь персонал
    - @clinics.each do |clinic|
      %article.newsfeed-article
        .container.procedure{class: "#{active_class(doctors_clinic_path(clinic[:slug]))}"}
          = link_to doctors_clinic_path(clinic[:slug]), class: "newsfeed-link" do
            %p.paragraph
              = clinic.address



