- meta :title => "medifast.com.ua Клиника Медифаст. Персонал клиники. Стационар, поликлинические услуги, лаборатория, Узи.", :description => "medifast.com.ua Персонал клиники Медифаст. В клинике принимают врачи Педиатр, Уролог, Терапевт – кардиолог, Аллерголог, Дерматолог, Невролог, Хирург, Эндокринолог, ЛОР, Гастроэнтеролог, Ортопед-травматолог, Иммунолог, Гинеколог, Дневной стационар, УЗИ диагностика, Лаборатория, Услуга вызов врача на дом, Семейный врач"
= render "layouts/clinic_phone"
= render "doctors/nav"
%section.content-section.newsfeed.personal
  .section-wrapper
    %h2.section-heading.white
      Персонал Медифаст
  #newsfeedBody.section-wrapper
    - @doctors.each do |doctor|
      %article.newsfeed-article.news-end-events
        = link_to show_doctors_path(doctor[:slug]), class: "newsfeed-link" do
          = image_tag "#{doctor.image_url}", class: "newsfeed-image"
        .container
          = link_to show_doctors_path(doctor[:slug]), class: "newsfeed-link" do
            %h2.sub-heading
              = doctor.name
          %p.paragraph
            = doctor.position
            %br
            = doctor.clinic.address
          = link_to show_doctors_path(doctor[:slug]), class: "newsfeed-link" do
            %span.case-studies-icon.black
            Узнайте больше

- content_for :scripts do
  :javascript
    Newsfeed.init();
