- meta :title => "medifast.com.ua Клиника Медифаст. Описания доктора клиники. Стационар, поликлинические услуги, лаборатория, Узи.", :description => "medifast.com.ua Описание доктора клиники Медифаст. В клинике принимают врачи Педиатр, Уролог, Терапевт – кардиолог, Аллерголог, Дерматолог, Невролог, Хирург, Эндокринолог, ЛОР, Гастроэнтеролог, Ортопед-травматолог, Иммунолог, Гинеколог, Дневной стационар, УЗИ диагностика, Лаборатория, Услуга вызов врача на дом, Семейный врач"
= render "layouts/clinic_phone"
%section.content-section.article
  .section-wrapper
    = link_to doctors_path, class: "back-link" do
      %span.icon
      Весь персонал
    .left-section
      %aside.article-aside
        = image_tag "#{@doctor.image_url}", class: "aside-content"
    .right-section
      %article.article-template
        %h2.section-heading
          = @doctor.name
        %h3.section-heding
          = @doctor.position
        .page
          .layoutArea
            .column
            %p
              = @doctor.clinic.present? ? @doctor.clinic.address : "Не указана"
            %p
              = @doctor.description.html_safe
            %p
            - @certificates.each do |certificate|
              = image_tag certificate.image_url_url.to_s, class: "service-image"
= render "layouts/record"
= render "layouts/clinic_phone_footer"