- meta :title => "medifast.com.ua Клиника Медифаст. Услуги клиники. Стационар, поликлинические услуги, лаборатория, Узи. Врач на дом, Семейный врач", :description => "medifast.com.ua услуги клиники Медифаст. В клинике принимают врачи Педиатр, Уролог, Терапевт – кардиолог, Аллерголог, Дерматолог, Невролог, Хирург, Эндокринолог, ЛОР, Гастроэнтеролог, Ортопед-травматолог, Иммунолог, Гинеколог, Дневной стационар, УЗИ диагностика, Лаборатория, Услуга вызов врача на дом, Семейный врач"
%button.back-to-top.back-to-top-bind#back-to-top
= render "layouts/clinic_phone"
= render "layouts/record"
%section.content-section.newsfeed-filter
  .section-wrapper
    %nav.filter-nav
      - @service_categories.each do |category|
        = link_to procedure_category_path(category[:slug]), class: "filter-link all" do
          = category.name
%section.content-section.newsfeed.active
  .section-wrapper
    - @service_categories.each do |category|
      %article.newsfeed-article
        = link_to procedure_category_path(category[:slug]) do
          = image_tag "#{category.image_small_url}", class: "newsfeed-image"
        .container.procedure
          = link_to procedure_category_path(category[:slug]), class: "newsfeed-link" do
            %h2.sub-heading.text-center
              = category.name

