%button.back-to-top.back-to-top-bind#back-to-top
= render "layouts/record"
%section.content-section.newsfeed-filter
  .section-wrapper
    %nav.filter-nav
      - @service_categories.each do |category|
        = link_to procedure_category_path(category[:slug]), class: "filter-link all" do
          = category.name
%section.content-section.newsfeed.active
  .section-wrapper
    %article.newsfeed-article
      - @service_categories.each do |category|
        = link_to procedure_category_path(category[:slug]) do
          = image_tag "#{category.image_small_url}", class: "newsfeed-image"
        .container.procedure
          = link_to procedure_category_path(category[:slug]), class: "newsfeed-link" do
            %h2.sub-heading.text-center
              = category.name

