%section.content-section.article
  .section-wrapper
    = link_to procedure_category_path(@service_category[:slug]), class: "back-link" do
      %span.icon
      Обратно
    .left-section
      %aside.article-aside
        = image_tag "#{@service.image_url}", class: "aside-content"
    .right-section
      %article.article-template
        %h2.section-heading
          = @service.name
        .page
          .layoutArea
            .column
            %p
              = @service.description.html_safe
            %p
              = image_tag "#{@service.image_one_url}"
              = image_tag "#{@service.image_two_url}"
            %p
              = @service.description_two.html_safe
            %p
              = link_to consultations_path, class: "blue-button" do
                Задать вопрос
                %span.icon.right-icon
              \|
              = link_to records_path, class: "red-button" do
                Запись на прием
                %span.icon.right-icon
= render "layouts/record"
= render "layouts/consultation"

- content_for :scripts do
  :javascript
    About.init();