%section.content-section.article
  .section-wrapper
    = link_to procedures_show_path, class: "back-link" do
      %span.icon
      Обратно
    .left-section
      %aside.article-aside
        = image_tag "genikologia_medifast_small.jpg", class: "aside-content"
    .right-section
      %article.article-template
        %h2.section-heading
          Эрозия шейки матки
        .page
          .layoutArea
            .column
            %p
              Эрозия шейки матки – одно из самых часто встречающихся гинекологических заболеваний.
            %p
              Эрозия представляет собой дефект слизистой оболочки шейки матки. Истинная эрозия шейки матки встречается довольно редко и существует недолго. Ее заживление обычно наступает через 10-14 дней.
            %p
              Однако чаще термином «эрозия шейки матки» называют другой процесс. В норме влагалищная часть шейки покрыта, так называемым, многослойным плоским эпителием (МПЭ). А в канале шейки матки находятся совсем другие, цилиндрические клетки, расположенные в один слой.
              Под воздействием множества факторов зона стыка этих двух разных тканей может смещаться на поверхность шейки матки. И цилиндрические клетки оказываются там, где их быть не должно. На клетки цилиндрического эпителия (ЦЭ) начинают действовать кислая среда и микроорганизмы, живущие во влагалище, что поддерживает хроническое воспаление. Кроме того, ЦЭ, в отличие от МПЭ, не обладает защитными свойствами и не может препятствовать проникновению бактерий и/или вирусов в цервикальный канал и полость матки. Этот дефект на медицинском языке называется псевдоэрозией или эктопией, а в обиходе для простоты употребляют слово «эрозия».
            %p
              Симптомы
            %p
              Симптомы немногочисленны. Как правило, эрозия шейки матки не приводит к существенным изменениям в самочувствии женщины.
            %p
              У женщин с этим заболеванием нет дискомфорта внизу живота. И оно не появляется во время полового акта, т.к. на шейки матки нет чувствительных рецепторов. Однако после интимной близости у некоторых женщин отмечаются незначительные кровянистые или сукровичные выделения, что является веским основанием для посещения врача гинеколога.
              В большинстве случаев эрозия является случайной находкой при осмотре гинеколога. Врач видит ее как небольшой ярко-красный участок на шейке матки. Однако для уточнения диагноза важно сделать дополнительное обследование — так называемую кольпоскопию.
              Кольпоскопией называют осмотр шейки матки с помощью особого оптического прибора с увеличением в 25-30 раз. Прибор помогает врачу лучше видеть измененные участки. После кольпоскопии гинеколог ставит более точный диагноз. Дело в том, что термином «эрозия шейки матки» называют несколько заболеваний, различных по своему происхождению и прогнозу. Обследование длится не менее 20 минут, но при этом оно практически безболезненно для пациентки.
            %p
              Во время кольпоскопии у гинеколога есть возможность произвести биопсию измененного участка шейки матки. Это исследование проводят не в том случае, когда пациентка жалуется на какие-то симптомы, а только, если врач во время кольпоскопии увидел подозрительный участок.
              Биопсия обычно проводится на 5-7 день цикла, сразу после прекращения месячных. Важно также, чтобы в момент взятия материал не было воспаления во влагалище. Поэтому если вас беспокоят зуд или выделения, желательно показаться гинекологу заранее и пролечиться. А затем уже идти на обследование шейки матки.
            %p
              Доктор иссекает небольшой участок ткани шейки матки, чтобы потом отправить его на гистологическое исследование. Детальное изучение клеток в области эрозии шейки матки и глубины поражения позволяет врачу разработать правильную тактику лечения пациентки.
              Несмотря на то, что симптомы эрозии не всегда ярко выражены, это заболевание необходимо лечить. Псевдоэрозия шейки матки характеризуется наличием вокруг канала шейки матки такого эпителия, который не обладает защитной функцией и не может препятствовать проникновению инфекции (если таковая имеется) из влагалища в полость матки.
            %p
              Причины возникновения эрозии шейки матки
            %p
              Эрозия может быть врожденной (которая, как правило, представляет собой псевдоэрозию, или эктопию) и приобретенной (следствие инфекций или травмы).
            %p
              Самые распространенные причины возникновения эрозии шейки матки:
            %p
              ЗППП (заболевания, передающиеся половым путем)  - урогенитальный хламидиоз, трихомониаз, микоплазмоз и уреаплазмоз, гонорея, папилломавирусная инфекция, вирус герпеса второго типа, или генитальный герпес;
              другие воспалительные заболевания женских половых органов;
              воспалительные заболевания влагалища (вагиниты, кольпиты, бактериальный вагиноз, молочница);
              механическое повреждение слизистой оболочки шейки матки (роды, аборты, грубый половой акт).
            %p
              Развитию эрозии могут способствовать следующие факторы:
              %br
              гормональные расстройства;
              %br
              нарушение менструального цикла;
              %br
              раннее начало половой жизни и частая смена половых партнеров;
              %br
              снижение иммунитета.
            %p
              Лечение заболеваний шейки матки
            %p
              Лечение эрозий шейки матки может быть медикаментозным и немедикаментозным.
              Медикаментозное лечение включает в себя назначение противовоспалительных средств и средств, которые воздействуют на причину появления эрозии и способствующих восстановлению поврежденных тканей. Если эрозия вызвана инфекционными заболеваниями влагалища (хламидиоз, микоплазмоз, трихомониаз и др.), то эффективное лечение возможно только после устранения этих заболеваний.
              Чтобы скорее восстановить поврежденные клетки, могут быть назначены вагинальные свечи и другие препараты. Эти препараты оказывают противомикробное действие и способствуют восстановлению поврежденных клеток слизистой оболочки шейки матки.
            %p
              Однако, назначить правильное лечение и выбрать необходимый препарат может только врач на основании данных, полученных при обследовании. Заниматься самолечение эрозии шейки матки не рекомендуется, так как для эффективного лечения всего сначала необходимо устранить причину возникновения болезни.
            %p
              Немедикаментозное хирургическое лечение заболеваний шейки матки основывается на методах воздействия на поврежденную слизистую оболочку шейки матки с помощью:
              %br
              лазерного излучения (лазеродеструкция);
              %br
              электрического тока (прижигание);
              %br
              диатермокоагуляции (термическое прижигание);
              %br
              радиоволновое лечение эрозии шейки матки.
            %p
              Однако, назначить правильное лечение и выбрать необходимый препарат может только врач на основании данных, полученных при обследовании. Заниматься самолечением эрозии шейки матки не рекомендуется, так как для эффективного лечения всего сначала необходимо устранить причину возникновения болезни.
            %p
              = link_to root_path, class: "blue-button" do
                Задать вопрос
                %span.icon.right-icon
              = link_to root_path, class: "red-button" do
                Запись на прием
                %span.icon.right-icon
%section.content-section.partners.active#meet-our-partners
  .section-wrapper
    %h2.section-heading
      Консультация специалистов
    .tab-button-container
      %a.tab-button.active(data-index="0")
        %span.partners-icon
        Администрация
      %a.tab-button(data-index="1")
        %span.membership-icon
        Ведущие специалисты
    .tab-container
      %article.tab-content.active(data-index="0")
        .container.active
          %article.carousel
            .carouselBody.partners-carousel
              %ul
                %li
                  .carousel-slide
                    = image_tag "medifast_email.png", class: "3D-and-imaging"
                    %h3.sub-heading
                      Написать нам
                    %p.paragraph
                      Если у Вас есть вопрос по поводу работы клиники. Необходимо перейти на разделу Контакты и заполнив необходимые поля отправить нам письмо. Наша администрация ответим Вам в ближайшее время
                    = link_to "Контакты", contacts_path, class: "partner-link"
                %li
                  .carousel-slide
                    = image_tag "medifast_vacansies.png", class: "3D-and-imaging"
                    %h3.sub-heading
                      Работа с нами
                    %p.paragraph
                      Если Вы хотите устроится к нам на работу, просмотрите раздел Вакансии и напишите нам. Наша администрация ответит Вам в ближайшее время
                    = link_to "Вакансии", root_path, class: "partner-link"
                %li
                  .carousel-slide
                    = image_tag "medifast_warning.png", class: "3D-and-imaging"
                    %h3.sub-heading
                      Замечание
                    %p.paragraph
                      Если у Вас есть замечания или рекомендации по поводу нашей работы, Вы можите позвонить на телефон доверия: +38 050 478 95 30, или перейти в раздер Контакты и заполнив необходимые поля написать нам письмо. Наша администрация ответит Вам в ближайшее время
                    = link_to "Контакты", contacts_path, class: "partner-link"
      %article.tab-content(data-index="1")
        .container.active
          %article.carousel
            .carouselBody.partners-carousel
              %ul
                %li
                  .carousel-slide
                    = image_tag "medifast_user.png", class: "3D-and-imaging"
                    %h3.sub-heading
                      Регистрация
                    %p.paragraph
                      Для получения консультации, необходимо зарегистрироваться на нашем сайте, перейдя в раздел Регистрация, заполнив се необходимы поля.
                    = link_to "Регистрация", root_path, class: "partner-link"
                %li
                  .carousel-slide
                    = image_tag "medifast_diary.png", class: "3D-and-imaging"
                    %h3.sub-heading
                      Личный кабинет
                    %p.paragraph
                      После регистрации, Вы можите войти в свой личный кабинет, где будет сохраняться история Ваших консультаций и другие возможности
                    = link_to "Ваш кабинет", root_path, class: "partner-link"
                %li
                  .carousel-slide
                    = image_tag "medifast_doctor.png", class: "3D-and-imaging"
                    %h3.sub-heading
                      Поиск врача
                    %p.paragraph
                      В Вашем личном кабинете Вы можите просмотреть список наших врачей, которые проводят бесплатные консультации и задать врачу вопрос
                    = link_to "Личный кабинет", root_path, class: "partner-link"

- content_for :scripts do
  :javascript
    About.init();