%button.back-to-top.back-to-top-bind#back-to-top
%section.main.content-section.priem#priem
  .section-wrapper
    %h1.header-intro
      Запись на прием онлайн это просто
    %p.header-standfirst
      Наши доктора всегда готовы Вам помочь
    = link_to root_path, class: "red-button" do
      Подробней
      %span.icon.right-icon
%section.content-section.newsfeed-filter
  .section-wrapper
    %nav.filter-nav
      - @services.each do |service|
        = link_to procedure_path(@service_category[:slug], service[:slug]), class: "filter-link all" do
          = service.name
%section.content-section.newsfeed.active
  .section-wrapper
    - @services.each do |service|
      %article.newsfeed-article
        = link_to procedure_path(@service_category[:slug], service[:slug]) do
          = image_tag "#{service.image_url}", class: "newsfeed-image"
        .container.procedure
          = link_to procedure_path(@service_category[:slug], service[:slug]), class: "newsfeed-link" do
            %h2.sub-heading.text-center
              = service.name
