- meta :title => "medifast.com.ua Клиника Медифаст. Список услуг клиники. Стационар, поликлинические услуги, лаборатория, Узи. Врач на дом, Семейный врач", :description => "medifast.com.ua список услуг клиники Медифаст. В клинике принимают врачи Педиатр, Уролог, Терапевт – кардиолог, Аллерголог, Дерматолог, Невролог, Хирург, Эндокринолог, ЛОР, Гастроэнтеролог, Ортопед-травматолог, Иммунолог, Гинеколог, Дневной стационар, УЗИ диагностика, Лаборатория, Услуга вызов врача на дом, Семейный врач"
%button.back-to-top.back-to-top-bind#back-to-top
= render "layouts/clinic_phone"
= render "layouts/record"
= render "procedures/nav"
%section.content-section.newsfeed.active#personal
  #newsfeedBody.section-wrapper
    %h2.section-heading.white
      Ведущие специалисты
    - @doctors.each do |doctor|
      %article.newsfeed-article.news-end-events(style="width:20%")
        = link_to show_doctors_path(doctor[:slug]), class: "newsfeed-link" do
          = image_tag "#{doctor.image_url}", class: "newsfeed-image"
        .container
          = link_to show_doctors_path(doctor[:slug]), class: "newsfeed-link" do
            %h2.sub-heading
              = doctor.name
          %p.paragraph
            = doctor.position
            %br
            = doctor.clinic.address
          = link_to show_doctors_path(doctor[:slug]), class: "newsfeed-link" do
            %span.case-studies-icon.black
            Узнайте больше
%section.content-section.newsfeed.active
  .section-wrapper.video
    - if @service_category.video_url.present?
      .embed-container
        = embed(@service_category.video_url)
%section.content-section.newsfeed-filter
  .section-wrapper
    %nav.filter-nav
      - @services.each do |service|
        = link_to procedure_path(@service_category[:slug], service[:slug]), class: "filter-link all" do
          = service.name
%section.content-section.newsfeed.active
  .section-wrapper
    %h2.section-heading.white
      Услуги отдела
      = @service_category.name
    - @services.each do |service|
      %article.newsfeed-article
        = link_to procedure_path(@service_category[:slug], service[:slug]) do
          = image_tag "#{service.image_url}", class: "newsfeed-image"
        .container.procedure
          = link_to procedure_path(@service_category[:slug], service[:slug]), class: "newsfeed-link" do
            %h2.sub-heading.text-center
              = service.name


