%button.back-to-top.back-to-top-bind#back-to-top
= render "layouts/record"
%section.content-section.newsfeed-filter
  .section-wrapper
    %nav.filter-nav
      - @services.each do |service|
        = link_to procedure_path(@service_category[:slug], service[:slug]), class: "filter-link all" do
          = service.name
%section.content-section.newsfeed.active
  .section-wrapper
    - @services.each do |service|
      %article.newsfeed-article
        = link_to procedure_path(@service_category[:slug], service[:slug]) do
          = image_tag "#{service.image_url}", class: "newsfeed-image"
        .container.procedure
          = link_to procedure_path(@service_category[:slug], service[:slug]), class: "newsfeed-link" do
            %h2.sub-heading.text-center
              = service.name
