%footer.site-footer
  .section-wrapper
    %span.footer-logo
    %span.red
      Телефон доверия
      %br
      +38 050 478 95 30
    %nav.footer-nav
      = link_to "О Клинике", about_us_path, class: "footer-link"
      = link_to "Услуги", procedures_path, class: "footer-link"
      = link_to "Персонал", doctors_path, class: "footer-link"
      = link_to "Контакты", contacts_path, class: "footer-link"
      = link_to "Новости", news_path, class: "footer-link"
      = link_to "Вопрос/ответ", faqs_path, class: "footer-link"
      = link_to "Вакансии", vacansies_path, class: "footer-link"
    %span.copyright
      Built by
      %a.copyright-link(href = "http://lightwebdesign.com.ua/" target = "blank")
        LWD
      %span.breack
        &#169 Медифаст 2015