%footer.site-footer
  .section-wrapper
    %span.footer-logo
    %span.red
      Телефон доверия
      %br
      +38 050 478 95 30
    %nav.footer-nav
      = link_to "О Клинике", about_us_path, class: "footer-link"
      = link_to "Услуги", root_path, class: "footer-link"
      = link_to "Персонал", root_path, class: "footer-link"
      = link_to "Контакты", contacts_path, class: "footer-link"
      = link_to "Вопрос/ответ", faqs_path, class: "footer-link"
      = link_to "Вакансии", vacancies_path, class: "footer-link"
    %span.copyright
      Designed by
      = link_to "LWD", root_path, class: "copyright-link"
      %span.breack
        &#169 Медифаст 2015