.header
  .nav-wrap.top#top
    %nav.nav
      = link_to root_path do
        %span.site-logo
      = link_to "О Клинике", about_us_path, class: "link"
      %span.icon
      = link_to "Услуги", procedures_path, class: "link"
      = link_to "Персонал", personals_path, class: "link"
      = link_to "Контакты", contacts_path, class: "link"
      %span.icon
      = link_to "Запись на прием", records_path, class: "link red"
      - if signed_in?
        = link_to "Личный кабинет", edit_user_registration_path, class: "link login", style: "margin-right: -1px"
        \/
        = link_to "Выйти", destroy_user_session_path, :method => :delete, class: "link login"
      - else
        = link_to "Регистрация", new_user_registration_path, class: "link login", style: "margin-right: -1px"
        \/
        = link_to "Войти", new_user_session_path, class: "link login"
      = link_to root_path, class: "social-icon" do
        %i.fa.fa-search.fa-2x


