%header.header
  .nav-wrap.top#top
    %nav.nav
      = link_to root_path do
        %span.site-logo
      = link_to "О Клинике", about_us_path, class: "link #{active_class(about_us_path)}"
      %span.icon
      = link_to "Услуги", procedures_path, class: "link #{isactive(procedures_path)}"
      = link_to "Персонал", doctors_path, class: "link #{isactive(doctors_path)}"
      = link_to "Доктор онлайн", personals_path, class: "link red #{active_class(personals_path)}"
      = link_to "Новости", news_path, class: "link #{isactive(news_path)}"
      = link_to "Контакты", contacts_path, class: "link #{isactive(contacts_path)}"
      %span.icon
      = link_to "Запись на прием", records_path, class: "link red #{active_class(records_path)}"
      - if signed_in?
        = link_to "Личный кабинет", cabinet_path, class: "link login #{active_class(cabinet_path)}", style: "margin-right: -1px"
        \/
        = link_to "Выйти", destroy_user_session_path, :method => :delete, class: "link login #{active_class(destroy_user_session_path)}"
      - else
        = link_to "Регистрация", new_user_registration_path, class: "link login #{active_class(new_user_registration_path)}", style: "margin-right: -1px"
        \/
        = link_to "Войти", new_user_session_path, class: "link login #{active_class(new_user_session_path)}"
      = link_to search_path, class: "social-icon" do
        %i.fa.fa-search.fa-2x
      %a.icon-close
      %a.icon-mobilemenu




