<!DOCTYPE html>
<html>
<head>
  <%= metamagic %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Cuprum:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>

  <%= render "layouts/modal" %>
  <%= yield %>
  <%= render 'layouts/footer' %>

  <%= javascript_include_tag 'users' %>
  <%= javascript_include_tag 'scripts' %>
  <%= javascript_include_tag 'bootstrap-modalmanager' %>
  <%= javascript_include_tag 'bootstrap-modal' %>
  <%= render 'layouts/google_analytics' %>
  <%= render "layouts/script_#{params[:modal]}" if params[:modal].present? %>
  <%= yield :scripts %>
</body>
</html>
